@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

    #about {
        flex-direction: column;
    }

    .profile-image {
        display: flex;
        justify-content: center;  
        width: 275px;
        height: 275px;
        margin: 0 auto;
    }

    /* .pdf-container{
        min-width: 10vh;
        width: 100%;
        margin-left: 10rem;
        margin-right: 10rem;
        height: 600px;
    } */
}